{% extends 'skeleton2.html' %}{% block title %}
About
{%endblock%} 
{% block page %}
<section id="About.html" class="content py-5" contenteditable="{{ 'true' if all['body_content_editable'] else 'false' }}"><!--start-->
	<div class="1 container" title="container-position-1">
		<h1>About</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos consequuntur repellendus sunt pariatur doloremque earum, aut inventore, magni aperiam, perferendis nisi vitae! Eaque blanditiis optio error dignissimos nam architecto quidem. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, doloremque ex expedita veniam exercitationem harum alias. Repudiandae quia quae possimus ipsam architecto sint dolorem, at, officia id eaque, odio eos.</p>
	</div>
</section><!--Close-->
{%endblock%}
