<link rel="stylesheet" href="../../static/root.css" />
<link rel="stylesheet" href="../../static/index.css" />
<section id="About.html" class="content" contenteditable="{{ 'true' if all['body_content_editable'] else 'false' }}"><!--start-->
	<div class="content-wrapper">
		<div class="card">
            <h1>About</h1>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quae, aliquid itaque excepturi magni cumque sit odio eos nam blanditiis, quidem ratione harum ea labore eum, veniam distinctio. Molestiae, ab!
			<h2>What are those</h2>
			<ul type="disc">
				<li>My name is Tikesh Sahu</li>
				<li>sdfau </li>
				<li>sdfh</li>
				<li>sdfak</li>
			</ul>
<form action="#" method="POST" id="Sign-In">
	<h1>Sign-In</h1>
	<fieldset>
	<legend>Login</legend>
    <div class="form-group">
                                <label for="Login_email">Enter Your Email</label>
                           <input type="email" name="Login_email" id="Login_email" required="" placeholder="e.g., example123@gmail.com">
    </div>
    <div class="form-group">
                                <label for="Login_password">Enter the Registered Password</label>
                           <input type="password" name="Login_password" id="Login_password" required="" placeholder="Enter the Password">
    </div>
	</fieldset>
	<fieldset>
	<legend>Sign Up With</legend>
                        <div class="form-group buttons-field">
                            <button type="button">sdfa</button>
                        </div>
                        <div class="form-group buttons-field">
                            <button type="button">sadfa</button>
                        </div>
                        <div class="form-group buttons-field">
                            <button type="button">sdfa</button>
                        </div>
                        <div class="form-group buttons-field">
                            <button type="button">sdf</button>
                        </div>
                        <div class="form-group buttons-field">
                            <button type="button">sdfa</button>
                        </div>
	</fieldset>
</form>
		
		</div>
	</div>
</section><!--Close-->
