{% extends 'skeleton2.html' %}{% block title %}
sdf
{%endblock%} 
{% block page %}
<section id="New.html" class="content py-5" contenteditable="{{ 'true' if all['body_content_editable'] else 'false' }}"><!--start-->
	<div class="1 container">
		<h1>See the Newest ones</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quae, aliquid itaque excepturi magni cumque sit odio eos nam blanditiis, quidem ratione harum ea labore eum, veniam distinctio. Molestiae, ab!</p>
	</div>
</section><!--Close-->
{%endblock%}