<link rel="stylesheet" href="../../static/root.css" />
<link rel="stylesheet" href="../../static/index.css" />
<section id="Products.html" class="content" contenteditable="{{ 'true' if all['body_content_editable'] else 'false' }}"><!--start-->
	<div class="content-wrapper">
		<div class="card">
            <h1>Products</h1>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quae, aliquid itaque excepturi magni cumque sit odio eos nam blanditiis, quidem ratione harum ea labore eum, veniam distinctio. Molestiae, ab!
		</div>
	</div>
</section><!--Close-->