<form action="#" method="post" class="form_to_add_stuffs">
    <div class="form_card_header">
        <label id="close" onclick="remove_form('form_to_add_card')"><i class="fas fa-close"></i></label>
        <h2 id="Title">Add List Card</h2>
    </div>
    <div class="form-group">
        <label for="L2">Type of the List</label>
        <select name="typeOfList" id="L2" onchange="updatePreviewList()" class="form-control">
            <option value="Ordered List">Ordered List</option>
            <option value="Unordered List">Unordered List</option>
            <option value="Description List">Description List</option>
        </select>
    </div>
    <div class="form-group">
        <label for="L1">Heading & Position</label>
        <div class="input-group">
            <input type="text" name="headingOfTab" id="L1" placeholder="e.g., My favourite places" oninput="updatePreviewList()" class="form-control" required />
            <input type="number" name="containerPosList" id="containerPosList" class="form-control" placeholder="Container-Position" style="max-width: 5em" value="0">
        </div>
    </div>
    <div id="fieldsetsContainerList" class="bg-light p-2 border rounded" style="display: none;">
        <div class="form-field">
            <label for="listItems">Enter list items using Enter (↩) key</label>
            <textarea name="ListItems" rows="3" id="listItems" oninput="updatePreviewList()" class="form-control"></textarea>
        </div>
        <div class="form-field">
            <label for="">List items per row</label>
            <input type="number" name="LIPerRow" id="LIPerRow" min="1" value="1" class="form-control" oninput="updatePreviewList()">
        </div>
    </div>
    <div class="preview-container">
        <h3>List Preview</h3>
        <div id="listPreview" class="form-preview">
            <p>Your list preview will appear here</p>
        </div>
    </div>
    <div class="buttons-group">
        <button type="reset" onclick="confirm('Really wnat to reset')" onclick="resetForm('fieldsetsContainerList')">Reset</button>
        <button type="button" onclick="generateCode('listPreview', 'List', document.getElementById('containerPosList').value)">Generate list Code</button>
    </div>
</form>
<style>
    .listCreators{
        display: none;
        border: 0.5px solid rgba(128, 128, 128, 0.367);
        padding: 0.5em;
        background: rgba(155, 155, 155, 0.145);
        border-radius: 5px;
    }   
</style>
<script>
    function updatePreviewList() {
        const listHeading = document.getElementById('L1').value;
        const typeOfList = document.getElementById('L2').value;
        const listPreviewCon = document.getElementById('listPreview');

        const fieldsetContainer = document.getElementById('fieldsetsContainerList')
        fieldsetContainer.style.display =  'block'
        const listItems = document.getElementById('listItems').value.trim().split('\n');
        const cols = document.getElementById('LIPerRow').value

        let listHtml = `<h2 class="text-primary mb-4">${listHeading}</h2>\n`;

        if (typeOfList === 'Ordered List') listHtml += createOl(listItems, cols);
        else if (typeOfList === 'Unordered List') listHtml += createUl(listItems, cols);
        else if (typeOfList === 'Description List') listHtml += createDl(listItems, cols);

        listPreviewCon.innerHTML = listHtml;
    }
    function createOl(listItems, column =1) {
        let olList = `<ol class="row row-cols-md-${column} list-group list-group-numbered border rounded shadow-sm p-3 bg-light" >\n`;

        for (let i = 0; i < listItems.length; i++) {
            olList += `\t<li class="list-group-item d-flex gap-2 lh-sm">\n\t\t<span>${listItems[i]}</span>\n\t</li>\n`;
        }

        olList += "</ol>";
        return olList;
    }

    function createUl(listItems, column = 1) {
        let ulList = `<ul class="row row-cols-md-${column} list-group border rounded shadow-sm p-3 bg-light">\n`;

        for (let i = 0; i < listItems.length; i++) {
            ulList += `  <li class="list-group-item d-flex justify-content-start align-items-center">${listItems[i]}</li>\n`;
        }

        ulList += "</ul>";
        return ulList;
    }

    function createDl(dterms, column=1) {
        let dlList = `<dl class="row bg-light border rounded shadow-sm p-3">\n`;

        for (let i = 0; i < dterms.length; i++) {
            dlList += `
            <dt class="col-sm-4 fw-semibold text-primary">${dterms[i]}</dt>
            <dd class="col-sm-8 text-muted">Description of ${dterms[i]}</dd>\n`;
        }

        dlList += "</dl>";
        return dlList;
    }
</script>
