<form class="form_to_add_stuffs">
    <div class="form_card_header">
        <label id="close" onclick="remove_form('form_to_add_card')"><i class="fas fa-close"></i></label>
        <h2 id="Title">Add Image Card</h2>
    </div>
    <div class="form-group">
        <div>
            <input onchange="updatePreviewImgCard('imgCardPreview')" class="form-check-input" type="radio" name="imgCardType" id="radioLabel1" value="imgCaps" aria-label="..." checked>
            <label for="radioLabel1" class="form-check-label" >Image caps</label>
        </div>
        <div>
            <input class="form-check-input" type="radio" name="imgCardType" id="radioLabel2" value="overImg" aria-label="..." onchange="updatePreviewImgCard('imgCardPreview')">
            <label for="radioLabel2" class="form-check-label"  >Image Overlays</label>
        </div>
        <div>
            <input class="form-check-input" type="radio" name="imgCardType" id="radioLabel3" value="horizontal" aria-label="..." onchange="updatePreviewImgCard('imgCardPreview')">
            <label for="radioLabel3" class="form-check-label">Horizontal</label>
        </div>
    </div>

    <div id="grid-card-config-${titleId}" class="card bg-light p-3 rounded border shadow-sm">
        <div class="form-group mb-1">
            <label for="cTitle" class="form-label-sm">Card Title & Position</label>
           <div class="input-group input-group-sm">
                <input type="text" id="cTitle" class="form-control" oninput="updatePreviewImgCard('imgCardPreview')" placeholder="Card Title" required>
                <input type="number" id="containerPosImgCard" class="form-control" value="0" style="max-width: 5em;">
           </div>
        </div>
        <div class="form-group form-group mb-1">
            <label for="cImg" class="form-label-sm">Image (optional)</label>
            <select id="cImg" class="form-control form-control-sm" onselect="updatePreviewImgCard('imgCardPreview')">
                <option class="me-auto text-truncate" value="noImg">No Image</option >
                {% for icon in web.images %}
                    <option class="me-auto text-truncate" value="../static/images/{{icon}}">{{icon}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="form-group mb-1">
            <label for="cText" class="form-label-sm">Card Text & the Format</label>
            <div class="input-group">
                <textarea id="cText" class="form-control form-control-sm" rows="3" placeholder="Enter card content..." oninput="updatePreviewImgCard('imgCardPreview')"></textarea>
                <div class="d-flex flex-column gap-2">
                    <i class="fas fa-align-left"></i>
                    <i class="fas fa-align-justify"></i>
                    <i class="fas fa-align-right"></i>
                </div>
            </div>
        </div>
        <div class="form-group mb-1">
            <label for="cWidth" class="form-label-sm">Width (%)</label>
            <div class="input-group-sm d-flex">
                <input id="cWidth" class="form-control" type="range" min="25" max="100" step="25" oninput="updatePreviewImgCard('imgCardPreview'), showSize('ccWidth', this.value)">
                <input type="number" id="ccWidth" class="form-control" style="width: 5em;">
            </div>
        </div>
        <div class="form-group mb-1">
            <label for="cWidth" class="form-label-sm">Link/Anchor (optional)</label>
            <div class="input-group input-group-sm">
                <input type="text" id="linkTextIC" class="form-control" placeholder="e.g., Read more" oninput="updatePreviewImgCard('imgCardPreview')">
                <select class="form-select" id="linkSrc" onchange="updatePreviewImgCard('imgCardPreview')">
                    <option value="">No Link</option>
                    {% for page in web.pages %}
                        {% if page not in web.unviewPages %}
                        <option value='{{page}}'>{{page}}</option>
                        {% endif %}
                    {% endfor %}
                    <option value="external">External Link</option>
                </select>
            </div>
        </div>
        <div class="form-group" id="${titleId}-linkUrl-group" style="display:none;">
            <input type="url" id="${titleId}-linkUrl" placeholder="e.g., https://example.com" class="form-control form-control-sm" oninput="updatePreviewImgCard('imgCardPreview')">
        </div>
    </div>

    <div class="preview-container">
        <h3>Image card Preview</h3>
        <div id="imgCardPreview" class="form-preview">
            <p>Your Image preview will appear here</p>
        </div>
    </div>

    <div class="buttons-group">
        <button type="button" >Reset</button>
        <button type="button" onclick="generateCode('imgCardPreview', 'Image card',  document.getElementById('containerPosImgCard').value)">Generate Code</button>
    </div>
</form>

<script>
    function updatePreviewImgCard(previewContId){
        const previewCont = document.getElementById(previewContId)
        const cardType = document.querySelector('input[name="imgCardType"]:checked').value;
        const title = document.getElementById('cTitle').value || "Card Title"
        const img = document.getElementById('cImg').value
        const text = document.getElementById('cText').value || "This is a wider card with supporting text below as a natural lead-in to additional content"
        const supportingText = "This is supporting text You can Change."
        const width = document.getElementById('cWidth').value || "75"
        let cardHtml = ""
        previewCont.innerHTML = ""
        if(cardType=='horizontal'){
            cardHtml = createImgHorizontal(img, title, text, supportingText, width)
        }
        else if(cardType=='overImg'){
            cardHtml = createImgOverlaysCard(img, title, text, supportingText, width)
        }
        else{
            cardHtml = createImgCapsCard(img, title, text, supportingText, width)
        }

        previewCont.innerHTML = cardHtml;
    }
    function createImgCapsCard(img, title, text, sText, width){
        let imgCaps = `<div class="card mb-3 w-${width}" id="${title.replace(/ /g, " ")}">\n`
        if (img !== "noImg")
            imgCaps += `    <img src="${img}" class="card-img-top" alt="...">\n`

        imgCaps += `    <div class="card-body">
                <h5 class="card-title">${title}</h5>
                <p class="card-text">${text}</p>
                <p class="card-text"><small class="text-body-secondary">${sText}</small></p>
            </div>
        </div>`

        return imgCaps
    }
    function createImgOverlaysCard(img, title, text, sText, width){
        let overImg = `<div class="card text-bg-dark w-${width} m-auto" id="${title.replace(/ /g, " ")}">\n`
        if (img !== "noImg")
            overImg += `    <img src="${img}" class="card-img" >\n`
                
        overImg +=`    <div class="card-img-overlay">
                    <h5 class="card-title">${title}</h5>
                    <p class="card-text">${text}</p>
                    <p class="card-text"><small>${sText}</small></p>
                </div>
            </div>`

        return overImg
    }
    function createImgHorizontal(img, title, text, sText, width){
        let h = `<div class="card mb-3 w-${width}" id="${title.replace(/ /g, " ")}">\n`
        h += `    <div class="row g-0">\n\t<div class="col-md-4">\n`
        if (img !== "noImg")
            h += `          <img src="${img}" class="img-fluid rounded-start" alt="...">\n</div>\n`
                
        h +=`        <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">${title}</h5>
                        <p class="card-text">${text}</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>`
        return h
    }
</script>