<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="../../static/favicon/{{all['favicon'][0]}}" type="image/x-icon" />
		<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet" >
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
		<title>
			{% block title %}
			{% endblock %}
		</title>
		<style id='index'>
			.content, .content-wrapper, .container-fluid {
				transition: height 0.4s ease, width 0.4s ease, padding 0.3s ease;
			}
			.content{
				min-height: 90vh;
			}
			@media(max-width:325px){
				.message{
					max-width: 310px;
				}
			}
		</style>
		<script>
			document.addEventListener('DOMContentLoaded', function() {
				const ul = document.querySelector('.content');
				const items = Array.from(ul.children);
				items.forEach(li => {
					const pos = li.classList[0];
					li.title = `container-position-${pos}`;
				});
				items.sort((a, b) => {
					const numA = parseInt(a.classList[0]);
					const numB = parseInt(b.classList[0]);
					return numA - numB;
				});

				ul.innerHTML = '';
				items.forEach(li => ul.appendChild(li));
			});
			document.addEventListener('DOMContentLoaded', function() {
				const inputs = document.getElementsByTagName('input');
				for (let input of inputs) {
					if (input && input.required) {
						const id = input.getAttribute('id');
						const label = document.querySelector(`label[for='${id}']`);
						if (label) {
							label.innerHTML += ` <span style="color: red;">*</span>`;
						}
					}
				}
			});
		</script>
	</head>
	<body >
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				<div aria-live="polite" aria-atomic="true" class="position-fixed top-0 end-0 p-3 message" style="z-index: 1080;">
				{% for category, message in messages %}
					<div class="toast align-items-center text-bg-{{ 'success' if category == 'success' else 'danger' if category in ['error', 'danger'] else 'info' if category == 'info' else 'warning' }} border-0 mb-2 show" role="alert" aria-live="assertive" aria-atomic="true">
					<div class="d-flex">
						<div class="toast-body d-flex align-items-center gap-2">
						{% if category == 'success' %}
							<i class="fas fa-check-circle text-light"></i>
						{% elif category in ['error', 'danger'] %}
							<i class="fas fa-times-circle text-light"></i>
						{% elif category == 'info' %}
							<i class="fas fa-info-circle text-light"></i>
						{% else %}
							<i class="fas fa-exclamation-triangle text-light"></i>
						{% endif %}
						<span>{{ message }}</span>
						</div>
						<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
					</div>
					</div>
				{% endfor %}
				</div>

				<script>
					document.addEventListener('DOMContentLoaded', function() {
						const toasts = document.querySelectorAll('.toast');
						toasts.forEach(toastEl => {
						const bsToast = new bootstrap.Toast(toastEl, { delay: 3000 });
						bsToast.show();
						});
					});
				</script>
			{% endif %}
		{% endwith %}
		{% include "partials/header.html" %} 
		{% block page %}
		{%endblock%}
		{% include "partials/footer.html" %}
	</body>
</html>