{% extends 'skeleton.html' %}
{% block title %}
Temporary page 
{%endblock%} 
{% block page %}
<section id="Temp.html" class="content" contenteditable="{{ 'true' if all['body_content_editable'] else 'false' }}"><!--start-->
	<div class="content-wrapper">
		<div class="card">
			<h1>Welcome to WebPersona</h1>
<h3>Kya name h tera</h3>
<table>
		<thead>
			<tr>
				<th>sdfa</th>
				<th>sf</th>
				<th>a</th>
				<th>sf</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>None</td>
				<td>None</td>
				<td>None</td>
				<td>None</td>
			</tr>
			<tr>
				<td>None</td>
				<td>None</td>
				<td>None</td>
				<td>None</td>
			</tr>
			<tr>
				<td>None</td>
				<td>None</td>
				<td>None</td>
				<td>None</td>
			</tr>
			<tr>
				<td>None</td>
				<td>None</td>
				<td>None</td>
				<td>None</td>
			</tr>
			<tr>
				<td>None</td>
				<td>None</td>
				<td>None</td>
				<td>None</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td></td>
			</tr>
		</tfoot>
	</table>
			<h3>Student Details</h3>
			<table>
				<tbody>
					<tr>
						<th></th><th>name</th><th>sdf</th><th>sdf</th><th>sdf</th>
					</tr>
					<tr>
						<th>name</th><td>None</td><td>None</td><td>None</td><td>None</td>
					</tr>
					<tr>
						<th>dfa</th><td>None</td><td>None</td><td>None</td><td>None</td>
					</tr>
					<tr>
						<th>df</th><td>None</td><td>None</td><td>None</td><td>None</td>
					</tr>
					<tr>
						<th>gf</th><td>None</td><td>None</td><td>None</td><td>None</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td></td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="card" id="Essay_on_India">
			<h1>Essay on India</h1>
			<div class="subcard">
				<h2>Introduction,</h2>
				<div id="Essay_on_India_Introduction,">
				Content
				</div>
			</div>
		</div>
		<div class="card" id="Bharat_ka_Naksha">
			<h1>Bharat ka Naksha</h1>
			<div id="Bharat_ka_Naksha-Content">
			Tumhara rajya ab hamara h aur tuhara sona bhi
			</div>
		</div>
	</div>
</section><!--Close-->
{%endblock%}