{% extends 'skeleton.html' %}
{% block title %}
Temporary 
{%endblock%} 
{% block page %}
<section id="Temp.html" class="content py-5" contenteditable="{{ 'true' if web.body_content_editable and web.previewPage == 'Temp.html' else 'false' }}"><!--start-->
<h1 class="text-primary" title="container-position-text-primary">This is your Page Heading (Optional)</h1>
<div class="0 container">
	<div class="card w-75 m-auto" id="Card_Title">
    <img src="../static/images/Screenshot 2025-01-23 212300.png" class="card-img-top" alt="Card Title">
    <div class="card-body d-flex align-items-start flex-column">
            <h4 class="card-title text-primary">Card Title</h4>
            <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content</p>
            <p class="card-text"><small class="text-body-secondary">This is supporting text You can Change.</small></p>
    </div>
</div>
</div>
<div class="0 container">
	<div class="card w-75 m-auto" id="Card Title">
    <div class="row g-0">
        <div class="col-md-8">
                    <div class="card-body d-flex align-items-start flex-column">
                        <h4 class="card-title text-primary">Card Title</h4>
                        <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
</div>	<div class="col-md-4">
	<img src="../static/images/logo.png" class="img-fluid rounded-end" alt="...">
</div>
    </div>
        </div>
</div>
</section><!--Close-->
{%endblock%}