{% extends 'skeleton.html' %}
{% block title %}
Webpersona - see websites here
{%endblock%} 
{% block page %}
<section id="WebSites.html" class="content" contenteditable="{{ 'true' if all['body_content_editable'] else 'false' }}"><!--start-->
	<div class="content-wrapper">
		<div class="card">
			<h1>Welcome to WebPersona</h1>
			<p>Your dynamic web content goes here</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora atque fugit molestiae velit reiciendis quam aspernatur hic aliquam temporibus consequuntur odio cupiditate aut quae deleniti incidunt beatae, tenetur labore eligendi deserunt iusto explicabo facere vel sequi. Unde enim sequi tenetur dolorem nobis in corrupti voluptate, dignissimos est, quo voluptates reprehenderit repellat distinctio fugit illum libero illo fuga accusamus porro sapiente?</p>
		<img src='static/favicons/default.png' alt='Image...'/>
		</div>
	</div>
</section><!--Close-->
{%endblock%}